*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font: 400 1.125rem 'Outfit', sans-serif;
}

.container {
  width: 327px;
  margin: 0 auto;
  border-radius: 5%;
  padding: 1.5em;
  background-color: hsl(216, 50%, 16%);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}