*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font: 300 1.125rem 'Outfit', sans-serif;
}

.nft-desc__title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.3125rem;
}

img {
  max-width: 100%;
  border-radius: 3%;
}

.container {
  width: 327px;
  margin: 0 auto;
  border-radius: 5%;
  padding: 1.5rem;
  background-color: hsl(216, 50%, 16%);
}

.nft-logo {
  width: 278px;
  height: 278px;
}

.nft-desc {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.nft-desc__title {
  margin: 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}