*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font: 300 1.125rem 'Outfit', sans-serif;
}



.nft-desc__title {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 1.375rem;
}

.nft-stats__rank {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.nft-author__info--highlight {
  color: hsl(0, 0%, 100%);
}

.nft-stats,
.nft-author__info {
  font-size: 1rem;
}

.nft-desc__title:hover,
.nft-author__info--highlight:hover {
  color: hsl(178, 100%, 50%);
}

img {
  max-width: 100%;
  border-radius: 3%;
}

.container {
  width: 327px;
  margin: 0 auto;
  border-radius: 5%;
  padding: 1.5rem;
  background-color: hsl(216, 50%, 16%);
}

.blur {
  opacity: .75;
}

.row {
  display: flex;
  align-items: center;
}

.nft-banner {
  position: relative;
  width: 278px;
  height: 278px;
}

.nft-banner__logo {
  position: absolute;
}

.nft-banner__view {
  position: absolute;
  top: 0;
}

.nft-desc {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.nft-desc__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: .75rem;
}

.nft-desc__title:hover {
  cursor: pointer;
}

.nft-desc__text {
  margin: 0;
}

.nft-stats {
  justify-content: space-between;
  margin: 1rem 0;
}

.nft-stats__icon {
  margin-right: .5rem;
}

.nft-author {
  justify-content: space-between;
  width: 219px;
}

.nft-author__avatar {
  width: 33px;
  height: 33px;
}

.nft-author__info {
  margin: 0
}

.nft-author__info--highlight:hover{
  cursor: pointer;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}